<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.repostit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_CLIPS" />
    <uses-permission android:name="android.permission.READ_CLIPS" />
    <uses-permission android:name="android.permission.WRITE_CLIPS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="app.repostit.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialThemeWhite">
        <activity
            android:name="app.repostit.PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/MyMaterialThemeWhite.NoActionBar"></activity>
        <activity
            android:name="app.repostit.AppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.repostit.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemeWhite" />
        <activity
            android:name="app.repostit.ui.fragment.Fragment_Detail"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemeWhite" />

        <service
            android:name="app.repostit.service.ClipboardService"
            android:enabled="true"
            android:stopWithTask="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_appId" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- Declare FloatingWidget Service over here and set enabled true -->
        <service
            android:name="app.repostit.service.FloatingWidgetService"
            android:enabled="true"
            android:stopWithTask="true" />

        <activity
            android:name="app.repostit.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>